

 <div class="selectChart">
  <label>Select Chart Type: </label>
  <select (change)="filterCharts($event.target.value)"  style="min-width: 150px;">
      <option value="0">----Select A type----</option>
      <option *ngFor="let chart of chartList" value={{chart}}>
          {{chart}}
      </option>
  </select>
</div> 

<div #sidebarChartContainer>

</div>
