<p>
  multi-step-directed-graph works!
</p>
<div>
  <button (click)="createMultiStepGraph()">
     Restore
  </button>
</div>
<div #multiStepGraphContainer>
  <button (click)="getExcelData(treeGraphData)">
    Export to Excel
  </button>
  
</div>