
* {
    box-sizing: border-box;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: block;
  }
  
  [class*="col-"] {
    float: left;
    padding: 15px;
  }
  
  html {
    font-family: "Lucida Sans", sans-serif;
  }
  
  .header {
    background-color: grey;
    color: #ffffff;
    padding: 4px 0 4px 24px;
    font-size: 16;
  }
  
  .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: #33b5e5;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
  
  .menu li:hover {
    background-color: #0099cc;
  }
  
  .aside {
    background-color: #33b5e5;
    padding: 15px;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
  
  .footer {
    background-color: grey;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 15px;
  }
  
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  
  @media only screen and (max-width: 600px) {
    /* For mobile phones: */
      [class*="col-"] {
        width: 100%;
      }
      .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
      }
  }
  /*-----------Radio Button-------------*/
	#first {
		background-color: #f2f2f2;
	}
	.section {
		padding: 1% 1% 4% 15%;
		/*padding-left: 150px;*/
		
	}
	.section input[type="radio"],
	.section input[type="checkbox"]{
		display: none;
	}
	.container {
		margin-bottom: 10px;
		padding: 0% 20% 1% 7%;
    float: left;
   
	}
	.container label {
		position: relative;
	}
	.container :after {
		background: blue;
	}
	/* Base styles for spans */
	.container span::before,
	.container span::after {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		margin: auto;
	
	}
	
	/*-----------Radio buttons------------- */
	.container span.radio:hover {
		cursor: pointer;
	}
	.container span.radio::before {
		left: -52px;
		width: 50px;
		height: 25px;
		background-color: #A8AAC1;
		border-radius: 50px;
	}
	.container span.radio::after {
		left: -49px;
		width: 20px;
		height: 17px;
		border-radius: 10px;
		background-color: #6C788A;
		transition: left .25s, background-color .25s;
	}
	input[type="radio"]:checked + label span.radio::after  {
		left: -27px;
		background-color: cyan;
	}
	/*-----------Radio Button-------------*/
	
	 /*--------for form container---------------*/
	 input[type=text], select, textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 4px;
    margin-bottom: 12px;
    resize: vertical;
    font-size: 16px;
  }
  
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 8px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .form-container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
	}
	.button {
    background-color: #4CAF50;
    color: white;
    padding: 8px 10px;
    border: none;
    border-radius: 4px;
		cursor: pointer;
		margin: 0% 0% 0% 3%;
  }
  .button2 {background-color: #ec2222;} /* Red */ 
  /*--------for form container---------------*/

  /*-----------multi row--------------*/
  .container-multi {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
  }
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 4px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 4px;
  }
  
  /* Clear floats after the columns */
  .row-multi:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /*---------------------------------------*/