<div class="header">
  <h3>Item Theme Allocation</h3>
</div>

<div>
  <div class="col-12 ">
    <section id="first" class="section">
      <div class="container">
        <input type="radio" name="group1" id="radio-1" [(ngModel)]="model.options" value="single"
          (change)="onSelectionChange()">
        <label for="radio-1"><span class="radio">Single Allocation</span></label>
      </div>
      <div class="container">
        <input type="radio" name="group1" id="radio-2" [(ngModel)]="model.options" value="multi"
          (change)="onSelectionChange()">
        <label for="radio-2"><span class="radio">Multiple Allocation</span></label>
      </div>
    </section>
  </div>
  <!----------------------------------------------------------------------------------------->
  <div *ngIf="showmulti == false">
    <div class="form-container">
      <form name="form" (ngSubmit)="saveItemThemeAllocate(themeId)" #f="ngForm" novalidate>
        <div class="col-6">
          <label for="themeName">Theme Name</label>
          <select id="selectTheme" name="selectTheme" [(ngModel)]="themeId">
            <option checked [ngValue]="0">----Please Select a theme name-----</option>
            <option *ngFor="let theme of themeList" [ngValue]="theme">{{theme.themeName}}</option>
          </select>
        </div>

        <div class="col-6 ">

          <label for="itemName">Item Name</label>

          <input type="text" [(ngModel)]="item.itemName" [typeahead]="itemList" typeaheadOptionField="itemName"
            (typeaheadOnSelect)="onSelectItem($event)" class="form-control" #itemName="ngModel" name="itemName"
            (blur)="clearType()" autocomplete="off">

          <!--<label for="themeDesc">Description</label>
          <textarea class="form-control" [(ngModel)]="item.itemDesc" #itemDesc="ngModel" name="itemDesc"
            placeholder="Write something.." style="height:150px"></textarea> -->
          <input type="submit" value="Submit">
          
        </div>
      </form>
      <!-- <button mat-fab class="button button2" (click)="clearData()">Discard</button> -->
    </div>
    <div class="col-12">
      <table class="w3-table w3-bordered table-sm" cellspacing="0">
        <tr class="w3-grey">
          <th>Theme Name</th>
          <th>Item Name</th>
        </tr>
        <tr *ngFor="let themeObj of viewModelList">
          <td><span>{{themeObj.themeName}}</span></td>
          <td><span>{{themeObj.itemName}}</span></td>
        </tr>
      </table>
    </div>
  </div>

  <!----------------------------------------------------------------------------------------->
  <div *ngIf="showmulti == true">
    <div class="col-9">
      <div class="container-multi">
        <form name="multiform" (ngSubmit)="saveMultiItemThemeAllocate(themeId2)" #f="ngForm" novalidate>
          <div class="row-multi">
            <div class="col-25">
              <label for="themeName">Theme Name</label>
            </div>
            <div class="col-75">
              <select id="selectTheme" name="selectTheme" [(ngModel)]="themeId2" >
                <option checked [ngValue]="0">----Please Select a theme name-----</option>
                <option *ngFor="let theme of themeList" [ngValue]="theme">{{theme.themeName}}</option>
              </select>
            </div>
          </div>

          <div class="row-multi">
            <div class="col-25">
              <label for="itemNameList">item Name</label>
            </div>
            <div class="col-75">
                <textarea id="itemNameList" class="form-control" name="itemNameList"
                placeholder="Please enter Item Code here.." style="height:auto;max-width: 95%;box-sizing: border-box;"
                [(ngModel)]="item.itemNameList" #itemName="ngModel" rows="4" cols="55"
                [ngClass]="{ 'is-invalid': f.submitted && itemName.invalid }" required maxlength="500"></textarea>
            </div>
          </div>
          <div class="row-multi">
            <input type="submit" value="Submit">
            <!-- <button mat-fab class="button button2" (click)="clearData()">Discard</button> -->
          </div>
        </form>
      </div>
    </div>
    <div class="col-12">
      <table class="w3-table w3-bordered table-sm" cellspacing="0">
        <tr class="w3-grey">
          <th>Theme Name</th>
          <th>Item Name</th>
        </tr>
        <tr *ngFor="let themeObj of viewModelList">
          <td><span>{{themeObj.themeName}}</span></td>
          <td><span>{{themeObj.itemName}}</span></td>
        </tr>
      </table>
    </div>
  </div>

</div>
<!-- <div class="footer">
  <p>Resize the browser window to see how the content respond to the resizing.</p>
</div> -->
