div.tooltip {
  position: absolute;
  background-color: white;
  max-width: 200px;
  height: auto;
  padding: 1px;
  border-style: solid;
  border-radius: 4px;
  border-width: 1px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, .5);
  pointer-events: none;
}

.container { 
  width:400px; 
  display:inline-block; 
  height:80px; 
  margin-right:10px; 
  padding:0; 
}


.left { 
  display:table-cell; 
  vertical-align:middle; 
  width:120px; 
  margin:0; 
  padding:0;   
  height:80px; 
  background-image:url("./saara-original.jpeg"); 
  background-size:100%; 
}

.right { 
  display:table-cell; 
  vertical-align:middle; 
  width:280px; 
  padding:0 10px; 
}