<!--<div  class="container">
  <label class="heading">
    <span class="checkmark">Add Theme and it's Item</span>
  </label>
   <div class="itemBack">
    nfslhkgjdfs;rgjshjdfgolhkj
  </div> 
</div>-->

<header class="w3-container w3-grey">
  <h3>Add Theme and it's Item</h3>
</header>
<div class="w3-container">
  <div class="w3-row-padding w3-section">
    <form name="form" (ngSubmit)="saveItemTheme()" #f="ngForm" novalidate>
      <div class="w3-half">
        <div class="w3-card textcard">
          <label for="itemNameList"><strong class="item-heading">Item</strong></label><br>
          <textarea id="itemNameList" class="form-control" name="itemNameList"
            placeholder="Please enter Item Code here.." style="height:auto;max-width: 95%;box-sizing: border-box;"
            [(ngModel)]="item.itemNameList" #itemName="ngModel" rows="4" cols="50"
            [ngClass]="{ 'is-invalid': f.submitted && itemName.invalid }" required maxlength="500"></textarea>
        </div>
      </div>
      <div class="w3-half">
        <div class="w3-card themetext">
          <p><strong class="item-heading">Theme</strong></p>
          <!-- <div  *ngFor="let theme of themeList"> -->
          <div >
            <label for="themeName">Name</label><br>
            <input type="text" class="form-control" name="themeName" [(ngModel)]="theme.themeName" #themeName="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && themeName.invalid }" size="32px" required themeName
              autocomplete="off" />
            <label for="themeDesc">Description</label>
            <textarea id="themeDesc" class="form-control" name="themeDesc"
              placeholder="Please enter Description here.." style="height:auto;max-width: 95%;box-sizing: border-box;"
              [(ngModel)]="theme.themeDesc" #themeDesc="ngModel" rows="4" cols="50"
              [ngClass]="{ 'is-invalid': f.submitted && themeDesc.invalid }" required maxlength="500"></textarea>
            <!-- <select id="themeDesc" [(ngModel)]="theme.themeDesc" style="size:55px;">
              <option *ngFor="let themeObj of themeList" >
              {{themeObj.themeDesc}}
              </option>
          </select> 
            <button (click)="addInput()">+</button>
            <button (click)="deleteInput()">X</button>-->
          </div>
        </div>
      </div>
      <div class="submit-posi">
        <input type="submit" value="Submit">
      </div>

    </form>
  </div>

  <div class="w3-row-padding w3-section">
    <table class="w3-table w3-bordered w3-striped ">
      <tr class="w3-grey">
        <th>Theme Name</th>
        <th>Item Name</th>
      </tr>
      <tr *ngFor="let themeObj of viewModelList">
        <td><span>{{themeObj.themeName}}</span></td>
        <td><span>{{themeObj.itemName}}</span></td>
      </tr>
    </table>
  </div>
</div>
