/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  /* Add background of level*/
  .header {
    background-color: #666;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
  }

  .itemBack{
    position: absolute;
    height: 50%;
    width: 100%;
    background-color: beige;
  }

  input[type=text], select,textarea {
    width: 92%;
    padding: 2% 3% 1% 1%;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin: 0.2%  0.1%  3%  1%;
    
    resize: vertical;
    font-size: 16px;
  }
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 8px 13px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
.item-heading{
  font-size: 20px;
  font-weight: 500;
}
div.absolute {
  position: absolute;
  top: 80px;
  right: 0; 
}
div.themetext{
  max-width: 100%;
  height: auto;
  box-sizing: border-box;
  padding: 0.1% 0 0 2.3%;
}
.submit-posi{
  display: block;
  /*margin-left: auto;*/
  margin-right: auto;
  width: 50%;
  padding: 17% 0 0 30%;
}
div.textcard{
  padding-left: 20px;
}
th, td {
  padding: 5px 0 0px 2px;
  text-align: left;
  font-size: 17px;
}