<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="header">
    <h3>Edit/Creation</h3>
  </div>
  
  <div class="row">
    <!-- <div class="col-3 col-s-3 menu">
      <ul>
        <li>The Flight</li>
        <li>The City</li>
        <li>The Island</li>
        <li>The Food</li>
      </ul>
    </div> -->
  
    <div class="col-7 col-s-11">
      <div class="form-container">
        <form name="form" (ngSubmit)="saveNewTheme(themeObj)" #f="ngForm" novalidate>
            <label for="themeName">Theme Name</label>
            <input type="text" class="form-control" [(ngModel)]="themeObj.themeName" #themeName="ngModel"
             name="themeName" placeholder="Theme name.." autocomplete="off">
            <label for="themeDesc">Description</label>
            <textarea class="form-control" [(ngModel)]="themeObj.themeDesc" #themeDesc="ngModel" 
            name="themeDesc" placeholder="Write something.." style="height:150px"></textarea>
            <input type="submit" value="Submit">
        </form>
      </div>
    </div>
  
    <div class="col-5 col-s-12 ">
      <div class="list-type2">
        <ol>
          <li *ngFor="let themeObj of themeList">
            <a > {{themeObj.themeName}}&nbsp; &nbsp; {{themeObj.themeDesc}}</a>
          </li>
        </ol>
      </div>
    </div>
  </div>
  
  <div class="footer">
    <p>Go to previous page</p>
    <button class="button button2" (click)="gotoEdit()" >Back</button>
  </div>
  