
.chart{
    border: 1px solid;
    margin-right: 10px;
    float: left;
  }
  .pict {
    width: 200px;
    height: 350px;
    margin-left: 6px;
    background: rgb(135,206,250);
    float: left;
    
  }

  body {
    margin: 0px;
    overflow: hidden;
  }
  
  circle {
    fill: steelblue;
  }
  
  .line-path {
    fill: none;
    stroke: maroon;
    stroke-width: 5;
    stroke-linejoin: round;
  }
  
  text {
    font-family: sans-serif;
  }
  
  .tick text {
    font-size: 2.7em;
    fill: #635F5D;
  }
  
  .tick line {
    stroke: #C0C0BB;
  }
  
  .axis-label {
    font-size: 25em;
    fill: #8E8883;
  }
  
  .title {
    font-size: 3.7em;
    fill: #635F5D;
  }