* {
    box-sizing: border-box;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: block;
  }
  
  [class*="col-"] {
    float: left;
    padding: 15px;
  }
  
  
  .header {
    background-color: grey;
    color: #ffffff;
    padding: 1px;
    font-size: 16;
  }
  
  .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: #33b5e5;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
  
  .menu li:hover {
    background-color: #0099cc;
  }
  
  .aside {
    background-color: #33b5e5;
    padding: 15px;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
  
  .footer {
    background-color: grey;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    padding: 1% 0% 0% 1%;
    margin-bottom: 0px;
  }
  
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  
  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
  }
  
  .button {
    background-color: #4CAF50; /* Green */
    border: none;
    border-radius: 6px;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  .button2 {background-color: #f44336;} /* Red */ 
  .button3 {background-color: #33b5e5;} /* Blue */
  .button4 {
    background-color: rgb(11, 204, 5); /* Green */
    right: 930px;  
  } 

  /*---------------------*/
  table {
    width:100%;
  }
  table, th, td {
    border: none;
    border-collapse: collapse;
  }
  th, td {
    padding: 5px 0 0px 2px;
    text-align: left;
    font-size: 15px;
  }
  
  /*--------------------*/