<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="header">
  <h3>Theme Edit and Creation</h3>
</div>
<div class="row">
  <!-- <div class="col-3 menu">
    <ul>
    <li>The Flight</li>
    <li>The City</li>
    <li>The Island</li>
    <li>The Food</li>
    </ul>
  </div> -->

  <div class="col-9">
    <p>You can edit the saved theme or you can create new theme.</p>
    <table class="w3-table w3-bordered table-sm" cellspacing="0"><!-- table table-striped table-bordered   w3-striped -->
      <tr class="w3-grey">
        <th>Theme Name</th>
        <th>Theme Desc</th> 
        <th>Edit</th>
      </tr>
      <tr *ngFor="let themeObj of themeList">
        <td><span>{{themeObj.themeName}}</span></td>
        <td><span>{{themeObj.themeDesc}}</span></td> 
        <td><button class="button button4" (click)="gotoCreate(themeObj)" >Edit</button> </td>
      </tr>
    </table>
  </div>

  <div class="col-3 right">
    <div class="aside">
      <h3>Theme</h3>
      <p>An implicit or recurrent idea; a motif.</p>
      <h3>Theme Name</h3>
      <p>A subject of artistic representation.</p>
      <h3>Theme Description</h3>
      <p>Statement or an account describing the theme.</p>
    </div>
  </div>
  
</div>
<div class="footer">
  <h3>For creating new theme</h3>
  <button mat-fab class="button button3" (click)="gotoCreateNew()">Create New</button>
</div>