

.graph-svg-component {
    background-color: yellow;
}
/*div.tooltip {
    position: absolute;
    background-color: white;
    max-width: 200px;
    height: auto;
    padding: 1px;
    border-style: solid;
    border-radius: 4px;
    border-width: 1px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, .5);
    pointer-events: none;
  }*/

  .tooltip{
    position: absolute;
    background: #f5f6f5;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
    visibility: hidden;
    pointer-events: none;
  }
  
    