body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 230px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 15px 10px 10px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    background-color: #4CAF50;
    color: white;/* #f1f1f1;*/
    font-size: 27px;
}

.main {
    margin-left: 228px; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 5px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    
}
.sidenav a:active {
    background-color: #4CAF50;
    color: white;
  }
  .zoom {
    padding: 10px 20px 60px 30px ;
    /*background-color: black;*/
    transition: transform .1s;
    width: 175px;
    height: 9px;
    margin: 0 ;
}
.zoom:hover {
    /*background-color:rgb(74,69,69);*/
    -ms-transform: scale(1.3); /* IE 9 */
    -webkit-transform: scale(1.3); /* Safari 3-8 */
    transform: scale(1.3); 
}
.staticGraph{
    height:200px;
    width:300px
}
.title:hover {
    /*background-color:rgb(74,69,69);*/
    -ms-transform: scale(1.4); /* IE 9 */
    -webkit-transform: scale(1.4); /* Safari 3-8 */
    transform: scale(1.4); 
}
.nav-list{
    background: url(/asset/list.png ) no-repeat 0 9px;
}